Source: splitcpy
Section: net
Priority: optional
Maintainer: David Steele <dsteele@gmail.com>
Build-Depends: debhelper (>= 9),
                dh-python,
                python-all (>= 2.6.6-3~),
                python-setuptools,
                python3-all,
                python3-setuptools,
		python-pexpect,
		python3-pexpect,
                help2man,
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.2
Standards-Version: 3.9.6
Homepage: https://davesteele.github.io/splitcpy/
Vcs-Git: https://github.com/davesteele/splitcpy.git
Vcs-Browser: https://github.com/davesteele/splitcpy

Package: splitcpy
Architecture: all
Depends: ${misc:Depends}, python3, python (>= 2.7), python-pexpect, python3-pexpect,
         sshpass,
Description: Copy a remote file using multiple SSH streams
 splitcpy can be used to exchange files with remote systems over multiple
 parallel SSH sessions. This can circumvent bandwidth restrictions
 placed on individual TCP streams.
 .
 splitcpy must be installed on both the local and remote host.
